<%- include("templates/header") %> 
    <h1>Page not found - 404</h1>

    <% if(user.role === 'buyer') { %>
      <%- include("templates/navbar_buyer") %>
    <% } else if(user.role === 'seller') { %>
      <%- include('templates/navbar_seller') %>
    <% } %>
<%- include("templates/footer") %> 
