<%- include("templates/header") %>

    <h1>SELLER HOME PAGE</h1>

    <button id="signout">Sign out</button>
    
    <script>
        document.getElementById("signout")
            .addEventListener("click", () => {
                window.location.href = "/logout"
        });
    </script>
    
    <%- include("templates/navbar_seller") %>
<%- include("templates/footer") %>