<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
  <title><%= title %></title>
  <!-- Common CSS -->

  <!--  CSS for Header-->
  <link rel="stylesheet" href="/css/header.css" /> 

  <!-- Navbar CSS-->
  <link rel="stylesheet" href="/css/navbar.css">
  
  <!-- Map CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

</head>
<body>
  <header>
    <div class="logo-container">
      <!-- Link to home page -->
      <a href="/" style="-webkit-tap-highlight-color: transparent;">
        <img src="/img/logo.png" alt="Farmers Marketplace Logo"/>
      </a>
    </div>
  </header>


 