<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
  <title><%= title %></title>
  <!-- Common CSS -->

  <!--  CSS for Header-->
<<<<<<< HEAD
  <link rel="stylesheet" href="/css/header.css" /> 

  <!-- Navbar CSS-->
  <link rel="stylesheet" href="/css/navbar.css">
=======
  <link rel="stylesheet" href="/css/header.css" />
  
  <!-- Map CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

>>>>>>> 5341e44702a58601d74b2ebfe736a3e0396812ed
</head>
<body>
  <header>
    <div class="logo-container">
      <img src="/img/logo.png" alt="Farmers Marketplace Logo"/>
    </div>
  </header>


 