<div class="bottom-navbar">
    <a href="#addListing">
        <img src="/img/plus-circle.svg" alt="Sell Icon" class="icon">
        <br>Add
    </a>
    <a href="#chat">
        <img src="/img/chat-bubble-empty.svg" alt="Chat Icon" class="icon">
        <br>Chat
    </a>
    <a href="#profile">
        <img src="/img/profile-circle.svg" alt="Profile Icon" class="icon">
        <br></bar>Profile
    </a>
</div>