<div class="bottom-navbar">
    <a href="#map">
        <img src="/img/map.svg" alt="Map Icon" class="icon">
        <br>Map
    </a>
    <a href="#cart">
        <img src="/img/cart.svg" alt="Cart Icon" class="icon">
        <br>Cart
    </a>
    <a href="#chat">
        <img src="/img/chat-bubble-empty.svg" alt="Chat Icon" class="icon">
        <br>Chat
    </a>
    <a href="#profile">
        <img src="/img/profile-circle.svg" alt="Profile Icon" class="icon">
        <br></bar>Profile
    </a>
</div>